<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register</title>
 <style>
        h1,h2{
    position: relative;
    left: 30%;
}
.container {
    margin-top: 55px;
}
tr{
position: relative;
    left: 30%;
}

td{
 position: relative;
    left: 30%;
    padding: 10px;
    
}

    </style>
</head>
<body>
	<div class="container mt-5">
	
	       <h1>Report</h1>
	       <br></br>
	       
            <table border="0" class="center">
            
            

                <tr>
                    <td>Fuel Required (In Liters)</td>
                    <td>:</td>
                    <td th:utext="${user.fuelRequired}">  </td>       
                    <td>L</td>   
                </tr>
              

                <tr>
                    <td>Cost of Journey To Agency </td>
                    <td>:</td>
                    <td th:utext="${user.costOfJourneyToAgency}">...</td>        
                    <td>Rs</td>     
                </tr>

                <tr>
                    <td>Cost of Journey To Customer </td>
                    <td>:</td>
                    <td th:utext="${user.costOfJourneyToCustomer}">...</td>    
                    <td>Rs</td>          
                </tr>

                <tr>
                    <td>Cost of Journey To Customer after discount </td>
                    <td>:</td>
                    <td th:utext="${user.discountedPrice}">...</td>
                    <td>Rs</td>
                </tr>

                <tr>
                    <td>Profit Percentage </td>
                    <td>:</td>
                    <td th:utext="${user.profitPercentage}"></td>
                    <td>%</td>
                </tr>

                <tr>
                    <td>Required Profit can be achieved by Travelling kilometers</td>
                    <td>:</td>
                    <td th:utext="${user.requiredKilometers}">...</td>
                    <td>Km</td>
                </tr>


            </table>
	   
			


</body>
</html>
